body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #4a5595;
  color: #f1e7c3;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(images/Revachol.jpg);
  background-size: cover;
  height: 100vh;
}

#pics {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  align-items: end;
}
.mid-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.pic-div {
  text-align: center;
  flex: 1;
}
#me {
  width: 150px;
  height: auto;
  border-radius: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  display: block;
}
h1,
h2,
h3,
h4 {
  text-align: center;
}
h1 {
  font-size: 3em;
  color: rgb(32, 31, 43);
}
